body{
    margin:0;
    background-color: #F3F2EF;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Fira Sans",Ubuntu,Oxygen,"Oxygen Sans",Cantarell,"Droid Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Emoji","Segoe UI Symbol","Lucida Grande",Helvetica,Arial,sans-serif;
    }
    img,button{
    cursor: pointer;
}
    #navbar-c{
        width:100%;
        height:52px;
        background-color: #fff;
        display: flex;
        
    }
    #navbar-c p{
        
        letter-spacing: 2px;
        font-weight: 400;
          
    }
    #li-icon{
        width:30px;
        height:30px;
        background-color: #283e4a;
        margin-top:10px;
        margin-left:14%;
       
    }
    #checkout{
      
        margin:auto;
        width:750px;
        margin-top:15px;
       
    }
    #onlylap{
        border-radius: 10px;
        margin-left:1%;
        width:98%;
        display: flex;
        height:87px;
        background-color: #fff;
        box-shadow: 1px 1px 1px 1px rgb(196, 193, 193);
    }
    #c{
        border-bottom-left-radius: 10px;
        border-top-left-radius:10px ;
        width:37%;
        font-size:20px;
        background-color:#398b18 ;
        color:white;
        text-align:center;
        padding-top: 20px; 
    }
    
    #c-side{
    
        font-size:21px;
        margin-left:2%;
        margin-top:3%;
    }
   
    #amount,#amount-a{
        background-color: #fff;
        border: 1px solid rgb(206, 202, 202);
        width:100%;
        border-radius: 10px;
        margin-top:10px;
        
    }
    #save36 {
        margin:0;
        margin-left:5%;
        font-weight:350;
    }
    #save36 strong{
        font-weight: 500;
    }
    #list{
        
        display: flex; 

    }
    #list h3{
        font-weight:500;
        margin-bottom:10px;
    }
    
    #round{
        color:white;
       width:28px;
       height:28px;
        border-radius: 50%;
        background-color:#398b18 ;
        margin-right:2%;
        text-align: center;
    }
    #card{
        background-color: #fff;
        border: 1px solid rgb(206, 202, 202);
        width:100%;
        border-radius: 10px;
               
    }
    #card img{
        width:50%;
        padding:2%;
        margin-left: 3%;
    }
    
    #card-details{
        width:100%; 
    }
    #form{
        width:60%;
        margin-left: 23%;
    }
    #namel,#namef,#namec{
        width:90%;

    }
    hr{
        opacity: .5;
    }
#i-flex{
    display: flex;
}
#sec{
    width:50%;
    margin-left: 5%;;
}
#sec input{
    width:90%;
    margin-top:5px;
}
#exp{
    width:40%;
   
}
#exp input{
    margin-top:5px;
}
#form{
    margin-top:20px;
}
#form input{
    height:28px;
    
}
.info{
    font-size: 14px;
    margin-bottom: 4px;
    opacity: 2;
    margin-top:14px;
}
#btnpay{
    width:20%;
    height:40px;
    margin-left:39%;
    margin-top:35px;
    margin-bottom: 18px;
    background-color: #063ea5;
    color: #fff;
    font-size: medium;
    border-radius: 40px;
    border:none;
    transition: 1s;
}
#btnpay:hover{
     background-color: #15346b;
}


#faq{
    background-color: #fff;
    border: 1px solid rgb(206, 202, 202);
    margin-top:20px;
    border-radius: 10px;
}
#faq h3{
padding: .01%;
padding-left: 3%;;
    font-weight: normal;
    font-size:normal;
}
#faq hr{
    margin-top: 0;
}
#faqflex{
    display:flex;
    margin-left:1%;
}
#faq-ans{
    width:30%;
    margin-left:2%;
}
#faq-ans h5{
    margin-top:10px;
    font-weight:500;
}
#faq-ans p{
    font-size: 11px;
    margin-top:3px;
    opacity: .8;
}
#link{
margin-left:27%;
margin-top:25px;
margin-bottom:25px;
font-size: 12px;
}
select{
    width:92%;
    height:35px;
    margin-bottom: 12px;
    
}
#tax,#tax-a{
   
    font-weight:340;
    margin-left:2%;
    font-size: 14px;
}
#taxprice,#taxprice-a{
  
    font-weight:340;
    margin-left:70%;
    font-size: 14px;

}
#amount-a #taxprice-a{
    margin-left:54%;
}
#totall,#totall-a{
    margin-left:2%;
    font-weight: 600; 

}
#tprice,#tprice-a{
    font-weight: 600;
    margin-left: 77%;
}
#amount hr,#amount-a hr{
    width:95%;
    margin:0;
    margin-left:2%;
}
#amount #hrline,#amount-a #hrline{
    width:100%;
    margin:0;
    margin-top:10px;
}
#taxflex,#taxflex-a{
    display: flex;  
}

/*icons*/
.lock-icon{
    fill:currentColor;
        
        margin-top:18px;
        margin-left:.7%;
        width:24px;
        height:24px;
    }
    
    .set-icon{
        fill:currentColor;
    
      
        margin-top:14px;
        margin-left:56%;
        width:24px;
        height:24px;

    }
    #selectt{
     width:100%;
     display: flex;
    }
    #monthly{
        background-color: #fff;
        text-align: center;
        width:46%;
        border:  1px solid rgb(206, 202, 202);
        padding:2%;
           border-radius: 10px;
           margin-top: 10px;
           cursor: pointer;
    box-shadow: 0 4px 0 #398b18;
    }
    #monthly h3,#annually h3{
        margin:auto;
        font-weight: 500;
    }
    #monthly p{
    font-size: 14px;
        width:44%;
        margin:auto;
        font-weight: 200;
    
    }
    #annually{
        background-color: #fff;
        text-align: center;
        width:50%;
        border:  1px solid rgb(206, 202, 202);
       margin-left:1%;
           border-radius: 10px;
           margin-top: 10px;
           cursor: pointer;
           
    }
    #annually p{
        font-size: 14px;
        width:70%;
        margin:auto;
        font-weight: 200;

    }
    #annually h3{
        margin-top: 15px;
        margin-left: 15%;;
        text-align: center;
    }
    #savee{
        margin-bottom: 0;
        float: right;
        border: 1px solid #398b18;
        background-color: #398b18;
        color: #fff;
        font-weight: 500;
    }
    #amount #ends,#amount-a #ends-a{
        padding:2%;
        text-align: justify;
        font-size:14px;
    }
    .show-a #taxprice{
          margin-left:54%;   
    }
    
    #d-rupe{
        color:#398b18;
        font-size:14px;
        float: right;
         margin-right: 3%;
         margin-bottom:4px;
        font-style: oblique;
    }
    #amount-a{
        display:none;
    }

    #wrongf,#wrongl,#wrongc,#wrongcvv,#wrongpin,#wronge{
        font-size:12px;
        color:red;
        
    }
    @media(max-width : 900px){
        .set-icon{
            margin-left:50%;
        }
        #checkout{
            width:85%;
        }
        #taxprice{
           margin-left: 62%;
        }
        #tprice{
            margin-left: 70%;
        }
       #amount-a #taxprice-a{
            margin-left: 52%;
         }
         #tprice-a{
             margin-left: 78%;
         }

      
    }
    @media(max-width : 750px){
        .set-icon{
            margin-left:40%;
        }
        #c,#c-side{
            font-size: 100%;
        }
        #onlylap{
         height:70px;
        }
        #monthly p,#annually p{
            width:90%;
           
        }
        #taxprice{
            margin-left: 56%;
         }
         #tprice{
             margin-left: 66%;
         }
         #form{
             margin-left: 15%;
             width:75%;
         }
         #btnpay{
            font-size: small;
         }
        #amount-a #taxprice-a{
            margin-left: 35%;
         }
         #tprice-a{
             margin-left:65%;
         }

       
    }
    @media(max-width : 600px){
        .set-icon{
            margin-left:30%;
        }
        #save36{
            font-size: small;
        }
        
        #monthly p,#annually p{
            width:90%;
            font-size:xx-small ;
        }
        #savee{
            font-size: x-small
        }
        #annually h3{
            margin-left:15%;
            margin-top:5px;
        }
        #tax,#totall,#taxprice,#tprice,#tax-a,#totall-a,#taxprice-a,#tprice-a{
            font-size: small;
        }
        #taxprice{
            margin-left:50%;
            
         }
         #tprice{
             margin-left: 63%;
         }
          #amount #ends,#amount-a #ends-a{
              font-size: xx-small;
          }
          .info{
              font-size: small;
          }
          #form input{
              height: 25px;
          }
       #btnpay{
           width:25%;
       }
       #faqflex{
           display: inline-block;
       }
       #faq-ans{
           width:95%;
       }
       #faq-ans h5{
           margin:0;
           font-size: small;
       }
       #faq h3{
           font-size: medium;
       }
       #tprice-a{
        margin-left:70%;
    }       #d-rupe{
        font-size: x-small;
    }
  
    }
    @media(max-width : 500px){
        body{
            min-width: 320px;
        }
        .set-icon{
            display: none;
        }
        #navbar-c p{
            font-size: 90%;
            margin-top:17px
        }
        #navbar-c img{
            width:20px;
            height:20px;
            margin-top:17px
        }
        #c-side{
            font-size: 70%;
          
        }
        #c{
            font-size: 70%;
            padding-top: 10px;
        }
        #onlylap{
            height:50px;
           }
           #taxprice{
            margin-left:45%;
            
         }
         #tprice{
             margin-left: 60%;
         }
         #btnpay{
            width:34%;
            margin-left: 31%;
        }
        #wrongf,#wrongl,#wrongc,#wrongcvv,#wrongpin,#wronge{
            font-size:10px;
           
        }
        #amount-a #taxprice-a{
            margin-left: 15%;
         }
         #tprice-a{
             margin-left:60%;
         }


    }
    @media  (max-width: 420px){
        #taxprice{
            margin-left:36%;
            
         }
         #tprice{
             margin-left: 56%;
         }
        #exp{
            width:45%;
        }
        #exp input{
            width:90%;
        }
        .info{
            font-size: x-small;
        }
    }
        
    